/* =========HEADER========= */

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 10px 27px -1px rgb(162, 159, 159, 0.2);
    border-radius: 5px;
    padding: 10px;
    gap: 1em;
}

.logo{
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.navbar ul{
    font-weight: 600;
    padding: 0;
    display: flex;
    list-style: none;
}

.navbar ul li a{
    color: white;
    padding: 1em;
    text-decoration: none;
}

.navbar ul li a:hover{
    border-radius: 1em;
    box-shadow: 10px 10px 27px -12px rgb(197, 193, 193);
}
@media (max-width: 320px) {
    .logo{
        font-size: 2em;
    }
    header{
        flex-direction: column;
    }
    .navbar ul{
        flex-direction: column;
        gap: 1em;
    }
}

@media (min-width:321px) and (max-width:500px) {
    header{
        flex-direction: column;
    }
    .navbar ul{
        font-weight: 800;
        font-size: 0.65em;
    }
}

@media (min-width:501px) and (max-width:700px) {
    header{
        flex-direction: column;
    }
    .navbar ul{
        font-weight: 800;
        font-size: 1em;
    }
}